  <div class="container-fluid">
  <form [formGroup]="delegacionForm" (ngSubmit)="onSubmit()">

    <div class="form-group">  
      <label for="deleg">Delegaciones</label>
      <div class="selector">
        <ng-select id="deleg" formControlName="deleg" class="form-control"
            [items]="optionsDeleg"
            bindLabel="descripcion"
            bindValue="idEstado"
            virtualScroll=true
            >
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success boton">Actualizar</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>